In [2]:
import pandas as pd
import os

In [3]:
melbourne_df = pd.read_csv('Melbourne_housing_FULL.csv')
melbourne_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [4]:
melbourne_df.shape

(34857, 21)

In [5]:
melbourne_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [6]:
clean_melbourne_df = melbourne_df[["Suburb",
                                   "Address",
                                   "Rooms",
                                   "Type",
                                   "Price",
                                   "Date",
                                   "Distance",
                                   "Postcode",
                                   "Bedroom2",
                                   "Bathroom",
                                   "Car",
                                   "Landsize",
                                   "CouncilArea",
                                   "Lattitude",
                                   "Longtitude",
                                   "Propertycount"]]

In [7]:
clean_melbourne_df.head()

,Suburb,Address,Rooms,Type,Price,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,3/09/2016,2.5,3067.0,2.0,1.0,1.0,126.0,Yarra City Council,-37.8014,144.9958,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra City Council,-37.7996,144.9984,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra City Council,-37.8079,144.9934,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,4/02/2016,2.5,3067.0,3.0,2.0,1.0,0.0,Yarra City Council,-37.8114,145.0116,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra City Council,-37.8093,144.9944,4019.0

In [8]:
print(len(clean_melbourne_df))

34857

In [11]:
clean_melbourne_df.drop(["Price"]), axis

KeyError: "['Price'] not found in axis"

In [ ]:
clean_melbourne_df = clean_melbourne_df.rename(columns={"Bedroom2": "Bedrooms",
                                                        "Car": "CarSpots",
                                                        "Lattitude": "Latitude",
                                                        "Longtitude": "Longitude"})

In [ ]:
clean_melbourne_df.head()

In [ ]:
clean_melbourne_df.dropna(inplace=True)

In [ ]:
print(len(clean_melbourne_df))

In [ ]:
clean_melbourne_df